*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

@font-face {
    font-family: 'Graphik';
    src: url("/fonts/Graphik-Medium.woff2") format('woff2'),
     url("/fonts/Graphik-Medium.woff") format('woff'),
     url("/fonts/Graphik-Black.woff") format('woff'),
     url("/fonts/Graphik-Black.woff2") format(woff2);
    /* Дополнительные настройки, если необходимо */
}

body {
    font-family: 'Graphik', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

img {
    padding: 0;

}

body {
    font-family: 'Graphik',Arial,sans-serif;
    line-height: 120%;
    font-weight: normal;
    background-color: rgba(24, 24, 24, 1);
    color: var(--light-text, #FFF);
}

.header {
    padding: 37.5px 0;
    height: 100%;

    margin-bottom: 162px;
}

.title {
    color: var(--light-text, #FFF);
    font-family: Graphik;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.2px;
}

.menu {
    background: var(--dark-background, #181818);
    color: var(--light-text, #FFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.menu__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.menu__list-item:nth-child(1) {
    margin-right: 108px;
}

.menu__list-item:last-child {
    margin-left: 108px;
}

.header__btn {
    padding: 20px 36px;
    font-size: 17px;
    line-height: 25px;;
    align-items: center;
    border: 1px solid var(--light-text, #FFF);
    background: var(--dark-background, #181818);
    color: var(--light-text, #FFF);
}


/* header-content code */

.header__content {
    padding-top: 95px;
}

.header__title {
    font-family: Graphik;
    font-size: 80px;
    text-align: center;
    max-width: 700px;
    font-weight: normal;
    line-height: 88px;
    letter-spacing: 0.2px;
    margin: auto;
    margin-bottom: 27px;
}

.header__content-text {
    color: var(--light-text, #FFF);
    text-align: center;
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    max-width: 840px;
    margin: auto;
}

.header__button-box {
    padding-top: 85px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    margin: 30px;
}

.header__btn-try {
    background: var(--primary, #4452FE);
    padding: 10px 30px;
    align-items: center;
    color: inherit;
    border: none;
}

.header__btn-more {
    margin-left: 35px;
    border: 1px solid var(--light-text, #FFF);
    background-color: transparent;
    color: inherit;
    padding: 10px 30px;
}


.header__background-img{
    width: 100%;

}

/* section__features */

.features {
    background: var(--dark-background, #181818);
    padding-top: 100px;
}

.featers__title {
    margin-bottom: 27px;
    text-align: center;
}

.features__text {
    color: var(--light-text, #FFF);
    max-width: 800px;
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: auto;
    margin-bottom: 80px;
}
.features__left-second{
    width: calc(100% + 1.25rem);
}
.features__right-list {
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.features__content{
    display: flex;
    flex-direction: row;
}

.features__list-item span {
    margin-bottom: 20px;
}
.features__list-item span img {
    margin-right: 10px;
}

.features__list-item span {
    display: inline-block;
    /* padding-bottom: 26px; */
}
.features__content-right{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    margin-top: 54px;
}
.features__list-item{
    padding: 20px;
}
.features__list-item p{
    width: 220px;
  
}


/* 
section addons */

.addons {
    padding-top: 200px;
    margin: 50px 0;
}

.addons__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addons__text {
    margin-bottom: 44px;
    max-width: 552px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: center;
}

.addons__cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.addons___left {
    display: flex;
    background-color: white;
    color: black;
    flex-direction: column;
    padding-top: 40px;
    margin-right: 44px;
    width: 50%;
    max-height: 625px;
    align-items: center;
    border-radius: 10px;
}

.addons__cards-title {
    text-align: center;
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.1px;
    margin-bottom: 20px;
}

.addons__cards-text {
    max-width: 355px;
    text-align: center;
    margin-bottom: 67px;
}

.addons__left-btn {
    display: inline-block;
    font-family: Graphik;
    margin-bottom: 61px;
    background: var(--primary, #4452FE);

    padding: 20px 36px;
    align-items: center;
    color: white;
}
.addons__left-img,
.addons__right-img{
    width: 100%;
}
.addons__right {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 10px;
    max-height: 625px;
}

.addons__right-btn {
    font-family: Graphik;

    padding: 20px 36px;
    align-items: center;
    background: var(--primary, #4452FE);
    color: white;
}


/* section gallery */

.gallery {
    padding-top: 200px;
    text-align: center;
}

.title {
    margin-bottom: 10px;
}

.gallery__text {
    margin: auto;
    margin-bottom: 44px;
    max-width: 450px;
}

.gallery__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery_pics {
    border-radius: 15px;
    margin-bottom: 44px;
}

.gallery__btn {
    color: var(--light-text, #FFF);
    border: 1px solid var(--light-text, #FFF);
    background-color: transparent;
    font-family: Graphik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.2px;
    height: 52px;
    padding: 10px 30px;
    align-items: center;
}


/* section partners */

.partners {
    align-items: center;
    padding-top: 200px;
    text-align: center;
}

.partners__text {
    margin: auto;
    color: var(--light-text, #FFF);
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    max-width: 520px;
    margin-bottom: 50px;
}

.parners__logo {
    display: grid;
    grid-template-columns: repeat(6,min-content);
    justify-content: center;
    gap: 7%;
}

.parners-pic {
    margin-bottom: 50px;
}

.parners__btn {
    color: white;
    font-family: Graphik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    /* 147.059% */
    letter-spacing: 0.2px;
    background-color: transparent;
    height: 52px;
    padding: 10px 30px;
    border: 1px solid var(--light-text, #FFF);
}


/* section feedback */

.feedback {
    padding-top: 200px;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.feedback__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feedback__card {
    display: flex;
    flex-direction: column;
    min-width: 430px;
    min-height: 223px;
    padding: 40px;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    flex: 0 1 auto;
    width: calc(47% - 12px);
    margin: 20px;
    position: relative;
}

.feedback__card span img {
    display: inline-block;
    position: absolute;
    background-image: url(/images/face1.svg);
    top: 23%;
    left: 19%;
    transform: translate(-50%, -50%);
}

.feedback__card span {
    margin-left: 90px;
    margin-bottom: 31px;
}

.feedback__card-title {
    margin-left: 90px;
}

.feedback-text {
    width: 300px;
    max-height: 300px;
    margin-left: 40px;
}


/* footer */

.footer {
    padding-top: 257px;
    margin-bottom: 107px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__title {
    margin-bottom: 40px;
}

.footer__list-item {
    margin-bottom: 19px;
}

.footer__we {
    margin-right: 200px;
}


@media (max-width:930px){
    .addons__cards{
        flex-direction: column;
        align-items: center;
    }
    .addons___left,
    .addons__right{
        width: 100%;
        margin: 0;
    }
    .addons___left{
        margin-bottom: 20px;
    }
    .addons{
        padding-top: 0;
    }
}
@media (max-width:900px){
    .header{
        margin-bottom: 50px;
    }
    .header__title{
        font-size: 50px;
    }
    .menu__list-item {
        display: none;
    }
    .menu__list-item:first-child,
    .menu__list-item:last-child {
        display: block;
    }
    .gallery{
        padding-top: 50px;
    }
}
@media (max-width:750px){
    .header__button-box{
        padding-top: 85px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-evenly;
        margin: 30px;
        align-items: flex-start;
    }
  .header__btn-try{
        margin-bottom: 15px;
    }
    .features__content{
        flex-direction: column;
    }
    .features__left-second{
        width: calc(100% + 1.25rem);
    }
    .features__right-list{
        margin: 0;
        width: 310px;
    
    }
    .features__content-right{
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .features__list-item{
        display: flex;
        flex-direction: column;
        width: 500px;
        text-align: center;
    }
    .features__list-item p{
        margin-left: 120px;
    }
    .addons__cards{
        align-items: center;
    }
    .addons___left,
    .addons__right{
        width: 100%;
        margin: 0;
    }
    .addons___left{
        margin-bottom: 20px;
    }
    .addons{
        padding-top: 0;
    }
}
@media (max-width:680px){
    .gallery__images{
        flex-direction: column;
    }
    .gallery_pics{
        width: calc(100% + 1.25rem);
    }
    .gallery_pics:nth-child(2n){
        display: none;
    }
    .partners{
    padding-top: 100px;
    }
    .parners__logo {
        display: grid;
        grid-template-columns: repeat(3,min-content);
        justify-content: center;
        gap: 7%;
        margin-bottom: 40px;
    }


    /* hello world */
    .footer__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
  
    }
    .feedback{
        padding-top: 50px;
    }
    .footer{
        padding-top: 50px;
    }
    .footer__we{
        margin: 0;
    }
}